main article {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1em 2em;
    width: 70%;
    margin: 1em auto;
}

main article .delete {
    text-align: right;
}

.delete a {
    color: red;
    text-decoration: underline;
}
