<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}{% endblock %} - Blog
        </title>
        <meta name="description" content="Blog Content Management System">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#23a1f5">
        {% load static %}
        <link rel="stylesheet" href="{% static '/styles/base_style.css' %}">
        {% block styles %} {% endblock %}
        <link rel="shortcut icon" type="image/png" href="{% static '/favicon.ico' %}">
        <link rel="icon" sizes="16x16" href="{% static '/favicon.ico' %}">
    </head>
    <body>
        <div id="social_media">
            <ul>
                <li id='facebook'>F</li>
                <li id='twitter'>T</li>
                <li id='gmail'>G</li>
            </ul>
        </div>
        <header>
            <nav>
                <ul>
                    <li><a href="{% url 'cms:main' %}">Home</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'cms:add_article' %}">New article</a></li>
                        {% block nav_bar_logged %}
                        {% endblock %}
                        <li><a href="{% url 'cms:logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'cms:login' %}">Login</a></li>
                        <li><a href="{% url 'cms:register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <div>
                <hr/>
                <p>Created by Michal Mietus.</p>
            </div>
        </footer>
    </body>
</html>