<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}{% endblock %} - Blog
        </title>
        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static '/favicon.ico' %}"/>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{% url 'cms:main' %}">Home</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'cms:logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'cms:login' %}">Login</a></li>
                    <li><a href="{% url 'cms:register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <p>Created by Michal Mietus.</p>
        </footer>
    </body>
</html>