<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}{% endblock %} - Blog
        </title>
        {% load static %}
        <link rel="stylesheet" href="{% static '/styles/base_style.css' %}"/>
        <link rel="shortcut icon" type="image/png" href="{% static '/favicon.ico' %}"/>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{% url 'cms:main' %}">Home</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'cms:add_article' %}">New article</a></li>
                    {% block edit %}
                    {% endblock %}
                    <li><a href="{% url 'cms:logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'cms:login' %}">Login</a></li>
                    <li><a href="{% url 'cms:register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <div>
                <hr/>
                <p>Created by Michal Mietus.</p>
            </div>
        </footer>
    </body>
</html>