body {
    font-family: 'Open Sans', sans-serif;
}

nav, main, footer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-width: 250px;
}

main {
    margin-top: 75px;
}

footer {
    position:relative;
    padding-top: 100px;
}

footer div {
    position:absolute; 
    bottom:0;
    width: 100%;
}

hr {
    padding: 0;
    margin: 0;
}

/* nav bar */

nav {
    font-family: 'Merriweather', serif;
    min-width: 300;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    background-image: linear-gradient(rgba(15, 125, 228, 1), rgb(100, 130, 219));
    box-shadow: 0px 3px 10px 0px rgba(143,139,143,0.75);
}

nav ul {
    list-style-type: none;
    white-space:nowrap;
}

nav ul li { 
    display: inline;
}

nav ul li a {
    padding: 0.94em 1.37em;
    text-decoration: none;
    color: black;
}

nav a:hover {
    background-color: rgb(4, 102, 194);
}

@media only screen and (max-width: 325px) {
    nav ul li a {
        padding: 0.94em 0.50em;
        text-decoration: none;
        color: black;
    }

    /* first list item in nav bar */
    nav ul:nth-child(1) {
        margin-left: -2em;
    }
}

@media only screen and (max-width: 370px) {
    nav ul li a {
        padding: 0.94em 0.90em;
        text-decoration: none;
        color: black;
    }
}

/* end nav */
#social_media ul {
    position: fixed;
    left: 0;
    top: 40%;
    margin-top: -2.5em;
    margin-left: -2.5em;
    text-decoration: none;
}

#social_media ul li {
    margin-right: 7em;
    display: block;
    text-decoration: none;
}
