{% extends 'base/base.html' %}

{% block title %}Add article{% endblock %}

{% block content %}
    <form action="{% url 'cms:add_article' %}" method='POST'>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}

        <div class="input-group mb-3">
            <div class="form-group">
                {{ field.label }}
                {{ field }} 
            </div>
        </div>

        {{ field.errors }}
        {% endfor %}
        <button type="submit" class="btn btn-outline-primary">Add article</button>
    </form>
{% endblock %}