{% extends 'base/base.html' %}


{% load static %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'cms/scripts/delete_article.js'%}"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'cms/styles/article_list_styles.css'%}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Articles</h2>
    {% for article in articles %}
        <article>
            <h4 class='title'><a href="{% url 'cms:article' article.pk %}">{{ article.title }}</a></h4>
            <div class='content'>{{ article.content }}</div>
            <p class='author'>{{ article.author }}</p>
            <p class='pub_date'>{{ article.pub_date }}</p>
            {% if request.user.is_superuser %}
                <span class='delete'><a onclick="return onDeleteArticle()" href="{% url 'cms:delete_article' article.pk %}">Delete</a></span>
            {% endif %}
        </article>
        <br/>
    {% endfor %}
{% endblock %}
