{% extends 'base/base.html' %}


{% load static %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'cms/scripts/delete_article.js'%}"></script>
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Articles</h2>
    {% for article in articles %}
    <article class="mb-4">
        <div class="card">
            <div class="card-body">
            <h4 class='title card-title'><a href="{% url 'cms:article' article.pk %}">{{ article.title }}</a></h4>
            <p class="card-text">{{ article.content }}</p>
            <p class='author'>Author: {{ article.author }}</p>
            <p class='pub_date'>{{ article.pub_date }}</p>
            {% if request.user.is_superuser %}
                <button type="button" class="btn btn-danger btn-sm">
                    <a onclick="return onDeleteArticle()" class="text-white" href="{% url 'cms:delete_article' article.pk %}">Delete</a>    
                </button>
            {% endif %}
        </div>
    </article>
    {% endfor %}
{% endblock %}
